#listOutput li {
  list-style-type: none;
  font-size: 25px;
}

h1 {
  float: inherit;
  text-align: center;
}

.headerimg {
  float: right;
  max-width: 200px;
  margin: 30px;
  position: relative;
  top: -30px;
}

.headerimg2 {
  float: left;
  max-width: 200px;
  position: relative;
  top: -30px;
}

.mybox {
  margin: 12px;
  border: 2px;
  padding: 4px;
  background-color: lightgreen;
}

.hiddenStuff {
  text-align: center;
  display: none;
  background-color: lightgreen;
  color: blue;
  font-size: 50px;
}

.jumbotron {
  min-height: 300px;
}


.talksm {
  float: right;
  max-width: 30px;
  margin: 1px;
  border: 1px;
  padding: 1px;
  background-color: black;
  position: relative;
  top: -35px;
}
